@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");

body {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
p {
    font-style: normal;
    color: $titleColor;
    letter-spacing: $titleLetterSpacing;
}

h1 {
    font-weight: 900;
    font-size: 47px;
    line-height: 56px;
    display: flex;
    align-items: center;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
}

a {
    color: $appThemeColor;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 13px 16px;
    height: auto;

    &::placeholder {
        color: $grey3;
        font-size: 13px;
        line-height: 19px;
        opacity: 0.8;
    }
}

button {
    &:focus {
        outline: none;
    }
}

html,
body,
body {
    height: 100%;
}

.view-container {
    height: 100%;
}

.theme-blue {
    background: $blueGradient !important;
}

.theme-white {
    background: $grey8 !important;
}

.singup,
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.login {
    .auth-block__form {
        padding-bottom: 0;
    }
}

// transition animations
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
