.dashboard {
    height: 100vh;
    position: relative;

    &--logout-btn {
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 16px;
        color: $white;
        border: none;
        background: transparent;
    }
}
