.dashboard {
    height: 100vh;

    &__nav {
        display: flex;
        justify-content: flex-end;
        padding-top: 41px;

        &__link {
            &:hover {
                text-decoration: none;
            }
        }

        &--btn {
            padding: 16px 55px !important;
        }

        &--logout-btn {
            padding: 0;
        }
    }
}
